  <div id="footer" class="text-gray-600 body-font bg-zinc-700">
    <div class="bg-zinc-700">
      <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
        <p class="text-white text-sm text-center sm:text-left">© 2022 Deaf Pickleball USA</p>
        <span class="inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start">

        </span>
      </div>
    </div>
  </div>

</div>