<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "head.njk" %}
        {% if site.env %}
            <!-- capture the CSS content as a Liquid variable -->
            {% set css %}{% include "styles.min.css" %}{% endset %}
            <style>
                {{css | safe}}
            </style>
        {% else %}
            <link rel="stylesheet" href="/static/styles.min.css">
        {% endif %}

        <!-- Try and serve Google Fonts in the most efficent way possible -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="preload" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'"/>
        <noscript>
            <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap" rel="stylesheet" type="text/css"/>
        </noscript>
        <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    </head>
    <body class="flex flex-col min-h-screen bg-slate-100">
        <a href="#main" class="skip-link">Skip to main content</a>
        {% include "header.njk" %}
        {{ content | safe }}
        {% include "footer.njk" %}
    </body>
    <script src="/static/app.min.js" defer></script>
</html>