---
layout: base.njk
title: 2021 National Deaf Pickleball Tournament
description: Deaf Pickleball USA, a non-profit organization to promote pickleball for the Deaf community!
---

<!--<main id="main" class="p-6 md:p-12 lg:p-16 border-t-8 border-gray-200 flex-grow">-->
<main id="main" class="grid grid-cols-1 flex-grow">
    <div>
        <div class="container mx-auto flex flex-col items-center p-3 sm:p-10 bg-neutral-50">
            <div>
                <h1 class="text-5xl mt-2 mb-5">2021 National Deaf Pickleball Tournament</h1>
                <p>The 2021 National Deaf Pickleball Tournament was held at Bobby Riggs Racquet and Paddle Club in Encinitas, California on September 25 and 26.</p>
                <h2 class="text-3xl mt-2 mb-5">Group Photo</h2>
                <p><img src="/static/group-photo.jpg"></p>
                <h2 class="text-3xl mt-2 mb-5">2021 Committee Photo</h2>
                <p><img src="/static/committee.jpg"></p>
                <p class="mt2 mb-5">2nd Row L to R: Mike Farnady, Jeff Dichter, David Reynolds, Rob Cundy (Chairperson), and Billy Bowman (Tournament Director).<br />1st Row L to R:  Marla Hatrak, Kay Vincent, Linda Cundy, Tim Millach on iphone (held by Linda) and Farley Warshaw.</p>
                <p class="mt-5 mb-2">To see more photos and the winners, visit the <a href="https://www.facebook.com/groups/2021ndpt">Facebook page.</a></p>

            </div>

        </div>
    </div>
</main>