---
layout: base.njk
title: 2022 National Deaf Pickleball Tournament
description: Deaf Pickleball USA, a non-profit organization to promote pickleball for the Deaf community!
---

<!--<main id="main" class="p-6 md:p-12 lg:p-16 border-t-8 border-gray-200 flex-grow">-->
<main id="main" class="grid grid-cols-1 flex-grow">
    <div>
        <div class="container mx-auto flex flex-col items-center p-3 sm:p-10 bg-neutral-50">
            <div>
                <h1 class="text-5xl mt-2 mb-5">2022 National Deaf Pickleball Tournament</h1>
                <p>The 2022 National Deaf Pickleball Tournament was held at The Villages in Florida from November 3 through 6, 2022.</p>
                <h2 class="text-2xl mt-2 mb-2">Tournament Results</h2>
                <p>You can find the complete events and results at the Pickleball Tournaments website<br /><a href="https://www.pickleballtournaments.com/tournamentinfo.pl?tid=6625">Pickleball Tournaments</a></p>
                <h2 class="text-2xl mt-2 mb-2">Photos</h2>
                <p class="mb-2">To see more photos and the winners, visit the <a href="https://www.facebook.com/groups/615166382871940">Facebook page.</a></p>

            </div>

        </div>
    </div>
</main>
