---
layout: base.njk
title: Deaf USA  Pickleball
description: Deaf Pickleball USA, a non-profit organization to promote pickleball for the Deaf community!
---

<!--<main id="main" class="p-6 md:p-12 lg:p-16 border-t-8 border-gray-200 flex-grow">-->
<main id="main" class="grid grid-cols-1 flex-grow">
    <div>
        <div class="container mx-auto flex flex-col items-center p-3 sm:p-10 bg-neutral-50">
            <div>
                <h1 class="text-5xl mt-2 mb-5">About Deaf Pickleball USA</h1>
                <h2 class="text-3xl my-5">The current DPUSA Task Force Team members:</h2>
                <div class="flex flex-row mb-5" style="text-align: center;">
                    <div><img src="/static/steve-florio.jpg">Steven A. Florio, Massachusetts</div>
                    <div><img src="/static/audrey-frank.jpg">Audrey K. Frank, Maryland</div>
                    <div><img src="/static/paddle-placeholder.png">Scott P. Kramer, California (Consultant)</div>
                </div>
                <div class="flex flex-row mb-5" style="text-align: center;">
                    <div><img src="/static/david-reynolds.jpg">David O. Reynolds, California</div>
                    <div><img src="/static/louis-schwarz.jpg">Louis J. Schwarz, Florida</div>
                    <div><img src="/static/randi-wille.jpg">Randi S. Wille, Arizona</div>
                </div>
                <h2 class="text-3xl my-5">DPUSA History:</h2>
                <p class="my-5">3 weeks prior to hosting the 1st National Deaf Pickleball Tournament (NDPT) event in Encinitas CA, the 1st NDPT committee sent an email to all registrants to see if they were interested in serving on a Task Force team. The Task Force team’s primary mission is to establish a national non-profit 501 (c)(3) Deaf Pickleball organization.  Scott Kramer, who has extensive experience running the National Racquetball Association of the Deaf organization for more than 3 decades as the officer, was asked to be a consultant to screen and select the candidates who expressed their interest.</p>
                <p class="my-5">Scott announced 4 Task Force team members at the 1st NDPT banquet on September 25, 2021, in Solana Beach, CA.  The team members were as follows:</p>
                <ol class="list-decimal my-5 mx-5">
                    <li>Steven Florio of Massachusetts</li>
                    <li>Audrey Frank of Maryland</li>
                    <li>David Reynolds of California</li>
                    <li>Louis Schwarz of Florida</li>
                </ol>
                <p class="my-5">Randi Wille of Arizona joined on the team as a Task Force member on January 6, 2022, as she brings extensive experience and knowledge from playing in many pickleball tournaments.</p>
                <p class="my-5">The Task Force team will be disbanded right after the inaugural officers take the oath to lead the national organization, Deaf Pickleball USA, on Thursday, November 3, 2022, in The Villages, Florida.</p>

            </div>

        </div>
    </div>
</main>