---
layout: base.njk
title: Deaf Pickleball USA Bylaws
description: Deaf Pickleball, a non-profit organization to promote pickleball for the Deaf community!
---

<main id="main" class="grid grid-cols-1 flex-grow">
    <div>
        <div class="container mx-auto flex flex-col items-center p-3 sm:p-10 bg-neutral-50">
            <div>
                <h1 class="text-5xl mt-2 mb-5">Election and Bylaws</h1>
                <p class="mb-2">The bylaws for Deaf Pickleball USA (DPUSA) has been filed with the state of Maryland and IRS.</p>
                <lite-youtube videoid="XBiuiFVzPp4" playlabel="Play: Bylaws" class="mb-5"></lite-youtube></h3>
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mb-5"><a href="/static/DPUSA-Bylaws-ASL-04-03-2022.pdf" class="text-white">Bylaws in ASL with links  (PDF File)</a></button>
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mb-5"><a href="/static/DPUSA-Bylaws-English-04-03-2022.pdf" class="text-white">Bylaws in English  (PDF File)</a></button>
                <h2 class="text-3xl mb-5">YouTube Videos</h2>

                <h3 class="text-2xl mb-5">
                    Mission Statement
                    <lite-youtube videoid="hsH7ePfiHxQ" playlabel="Play: Mission Statement"></lite-youtube></h3>
                <h3 class="text-2xl mb-5">
                    Article I: Name
                    <lite-youtube videoid="lnK73juK65M" playlabel="Play: Article I: Name"></lite-youtube></h3>

            </div>
        </div>
    </div>
</main>
