---
layout: base.njk
title: Deaf Pickleball USA Bylaws
description: Deaf Pickleball, a non-profit organization to promote pickleball for the Deaf community!
---

<main id="main" class="grid grid-cols-1 flex-grow">
    <div>
        <div class="container mx-auto flex flex-col items-center p-3 sm:p-10 bg-neutral-50">
            <div>
                <h1 class="text-5xl mt-2 mb-5">Election and Bylaws</h1>
                <p class="mb-2">The bylaws for Deaf Pickleball USA (DPUSA) has been filed with the state of Maryland and IRS.</p>
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mb-5"><a href="/static/DPUSA-Bylaws-Final-Revision-10-12-22.pdf" class="text-white">Bylaws - Final Version - Oct 12, 2022  (PDF File)</a></button>


            </div>
        </div>
    </div>
</main>
