---
layout: base.njk
title: Deaf Pickleball
description: Deaf Pickleball, a non-profit organization to promote pickleball for the Deaf community!
---

<main id="main" class="grid grid-cols-1 flex-grow">
    <div>
        <div class="container mx-auto flex flex-col items-center p-3 sm:p-10 bg-neutral-50">
            <div>
                <h1 class="text-5xl mt-2 mb-5">Contact Us</h1>
                <p>Contact Info?</p>

            </div>

        </div>
    </div>
</main>