---
layout: base.njk
title: Deaf Pickleball USA Facebook Sites
description: Deaf Pickleball, a non-profit organization to promote pickleball for the Deaf community!
---

<main id="main" class="grid grid-cols-1 flex-grow">
    <div>
        <div class="container mx-auto flex flex-col items-center p-3 sm:p-10 bg-neutral-50">
            <div>
                <h1 class="text-5xl mt-2 mb-5">Facebook Pages</h1>
                <p class="mt-4 mb-4">Check Out Various Deaf Pickleball Facebook Pages</p>
                <div class="flex flex-wrap justify-center">
                    <div class="w-6/12 sm:w-4/12 px-4 text-center">
                        <a href="https://www.facebook.com/groups/615166382871940"><img src="/static/facebook-logo-circle.png" alt="Facebook Logo" class="mx-auto w-24 shadow rounded max-w-full h-auto align-middle border-none" /><br />2022 National Tournament</a>
                    </div>
                    <div class="w-6/12 sm:w-4/12 px-4 text-center">
                        <a href="https://www.facebook.com/groups/655948787775696"><img src="/static/facebook-logo-circle.png" alt="Facebook Logo" class="mx-auto w-24 shadow rounded max-w-full h-auto align-middle border-none" /><br />Deaf Pickleball of America</a>
                    </div>
                    <div class="w-6/12 sm:w-4/12 px-4 text-center">
                        <a href="https://www.facebook.com/groups/828117264491209/"><img src="/static/facebook-logo-circle.png" alt="Facebook Logo" class="mx-auto w-24 shadow rounded max-w-full h-auto align-middle border-none" /><br />New England Deaf Pickleball</a>
                    </div>
                </div>
                <div class="mt-8 flex flex-wrap justify-center">
                    <div class="w-6/12 sm:w-4/12 px-4 text-center">
                        <a href="https://www.facebook.com/Florida-Deaf-PickleBall-109110181641791"><img src="/static/facebook-logo-circle.png" alt="Facebook Logo" class="mx-auto w-24 shadow rounded max-w-full h-auto align-middle border-none" /><br />Florida Deaf Pickleball</a>
                    </div>
                    <div class="w-6/12 sm:w-4/12 px-4 text-center">
                        <a href="https://www.facebook.com/groups/1802484819925445/"><img src="/static/facebook-logo-circle.png" alt="Facebook Logo" class="mx-auto w-24 shadow rounded max-w-full h-auto align-middle border-none" /><br />Indiana Naptown Deaf Pickleball</a>
                    </div>
                    <div class="w-6/12 sm:w-4/12 px-4 text-center">
                        <a href="https://www.facebook.com/groups/500213810805692/"><img src="/static/facebook-logo-circle.png" alt="Facebook Logo" class="mx-auto w-24 shadow rounded max-w-full h-auto align-middle border-none" /><br />Deaf BC Pickleball</a>
                    </div>
                </div>
                <div class="mt-8 flex flex-wrap justify-center">
                    <div class="w-6/12 sm:w-4/12 px-4 text-center">
                        <a href="https://www.facebook.com/groups/777154980351033/"><img src="/static/facebook-logo-circle.png" alt="Facebook Logo" class="mx-auto w-24 shadow rounded max-w-full h-auto align-middle border-none" /><br />Montgomery County Deaf Pickleball</a>
                    </div>
                    <div class="w-6/12 sm:w-4/12 px-4 text-center">
                        <a href="https://www.facebook.com/DeafMidwestPickleball"><img src="/static/facebook-logo-circle.png" alt="Facebook Logo" class="mx-auto w-24 shadow rounded max-w-full h-auto align-middle border-none" /><br />Deaf Midwest Pickleball Tournament</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
