---
layout: base.njk
title: Deaf Pickleball
description: Deaf Pickleball, a non-profit organization to promote pickleball for the Deaf community!
---

<!--<main id="main" class="p-6 md:p-12 lg:p-16 border-t-8 border-gray-200 flex-grow">-->
    <main id="main" class="grid grid-cols-1 flex-grow">
    <div class="">
                <div class="container mx-auto flex flex-col items-center py-12 sm:py-24">
                    <div class="w-11/12 sm:w-2/3 lg:flex justify-center items-center flex-col  mb-5 sm:mb-10">
                        <h1 class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl xl:text-6xl text-center text-gray-800 font-black leading-7 md:leading-10">
                            Deaf Pickleball
                            <span class="text-sky-900">USA</span>
                        </h1>
                        <p><img src="/static/national-2022.jpg"></p>
                    </div>
                    <div class="flex justify-center items-center">
                        <a href="https://form.jotform.com/213444830266050%20%20" class="bg-sky-400 text-black active:bg-sky-600 font-bold uppercase text-lg px-6 py-4 rounded no-underline shadow hover:underline hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">REGISTER</a>
                        <a href="/static/NDPBT2022Brochure.pdf" class="no-underline	hover:underline hover:shadow-lg ml-4 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-sky-600 bg-transparent transition duration-150 ease-in-out hover:border-sky-600 lg:text-xl lg:font-bold  hover:text-sky-600 rounded border border-sky-700 text-sky-700 px-6 sm:px-10 py-4 sm:py-4 text-sm">SEE BROCHURE</a>
                    </div>
                </div>
            </div>
</main>
