---
layout: base.njk
title: Deaf Pickleball USA Rating
description: Deaf Pickleball, a non-profit organization to promote pickleball for the Deaf community!
---

<main id="main" class="grid grid-cols-1 flex-grow">
    <div>
        <div class="container mx-auto flex flex-col items-center p-3 sm:p-10 bg-neutral-50">
            <div>
                <h1 class="text-5xl mt-2 mb-5">Player Rating</h1>
                <p class="mb-2">For Pickleball Players (below 4.0 level): Watch the video below and determine which skill level you can play at the 2022 National Deaf Pickleball Tournament this November.<br /><br />Tip: If you have not played at the sanctioned PB tournaments in your state, then you are strongly encouraged to register and play as much as possible before playing at NDPBT.</p>

                <h3 class="text-2xl mt-5">
                    Rating Video<br />
                    <lite-youtube videoid="kc19Z_Bvv9w" playlabel="Play: Rating"></lite-youtube></h3>

            </div>
        </div>
    </div>
</main>
